penetration_pipeline:
  target: dev
  outputs:
    dev:
      type: databricks
      catalog: hive_metastore
      schema: dev_analytics
      host: "{{ env_var('DATABRICKS_HOST') }}"
      http_path: "{{ env_var('DATABRICKS_HTTP_PATH') }}"
      token: "{{ env_var('DATABRICKS_TOKEN') }}"
      threads: 4
